<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.moneytracker.checkscheduled</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>MyMoney utilizza Face ID per proteggere i tuoi dati finanziari sensibili e garantire che solo tu possa accedere alle tue informazioni personali.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MyMoney richiede l'accesso alla tua libreria foto per permetterti di personalizzare i tuoi conti e categorie con immagini personali.</string>
</dict>
</plist>
